<ion-header>
  <div class="ion-no-padding">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <h2 color="light" style="width:100%; text-align:center;">{{order?.date | date}}</h2>
      <ion-back-button color="secondary" slot="end" style="margin-right: 2%;" defaultHref="order-history"></ion-back-button>
    </ion-buttons>
  </div>

</ion-header>

<ion-content *ngIf="this.userService.activeSessions==false" class="background" [fullscreen]="true">
  <div class="error">
    <h1>Please <a [routerLink]="['']">login</a></h1>
  </div>
</ion-content>



<ion-content *ngIf="this.userService.activeSessions==true" class="background" [fullscreen]="true">

  


  <div *ngIf="loading" class="spinner">
    <ion-spinner color="secondary" name="crescent"></ion-spinner>
  </div>

  <div *ngIf="error" class="error">
    <h1>Cart is Empty</h1>
  </div> 

  <div class="cart_section">
  
  <div *ngFor="let product of order?.items" class="my_card"
    lines="none" detail="false">
    <div class="img">
      <ion-img class="img_img" src="{{product?.product.image}}"> </ion-img>
    </div>
    <div class="content">
      <div class="title">{{product?.product.title}}</div>
      <div class="tags">

        <p class="price">Price € {{product?.product.price}} x {{product?.quantity}} = Tot € {{product?.tot}} </p>

      </div>
      </div>
    </div>
    <h2 color="white" style="width:100%; text-align:center; color:white">Total Order: {{order?.total}} €</h2>
  </div>

  
  




  
  

</ion-content>