<ion-app>
  <ion-split-pane (click)="Refresh()" contentId="main-content">

    <ion-menu side="start" menuId="mainMenu" contentId="main-content" type="overlay">

      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            <ion-label color="light">Welcome <span *ngIf="isAdmin" class="admin"> ADMIN </span></ion-label>
          </ion-list-header>

          <ion-note color="light">{{currentUser?.email}}</ion-note>
          <a (click)="LogOut()"> Logout</a>

          <div *ngIf="isAdmin" class="admin_zone">
            <ion-list-header>
              <ion-label color="danger ">Admin settings</ion-label>
            </ion-list-header>
            <ion-item routerDirection="root" [routerLink]="['admin/products/manage']" lines="none"
              detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="add-circle-outline"></ion-icon>
              <ion-label color="light ">Manage products</ion-label>
            </ion-item>

            <ion-item routerDirection="root" [routerLink]="['admin/users/manage']" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="person-add-outline"></ion-icon>
              <ion-label color="light ">Grant permissions to users</ion-label>
            </ion-item>

          </div>

          <ion-list-header>
            <ion-label color="light ">Navigate</ion-label>
          </ion-list-header>
          <ion-item routerDirection="root" [routerLink]="['products']" lines="none" detail="false"
            routerLinkActive="selected">
            <ion-icon slot="start" name="laptop-outline"></ion-icon>
            <ion-label color="light ">Products</ion-label>
          </ion-item>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-list-header>
            <ion-label color="light ">Producers</ion-label>
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let producer of producers">
            <ion-item routerDirection="root" [routerLink]="['/products/producer/'+producer]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="business-outline"></ion-icon>
              <ion-label>{{producer}}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-list-header>
            <ion-label color="light ">Categories</ion-label>
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let category of categories">
            <ion-item routerDirection="root" [routerLink]="['products/category/' + category]" lines="none"
              detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="desktop-outline"></ion-icon>
              <ion-label>{{category}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>

    <ion-menu side="end" menuId="cartMenu" contentId="main-content">
      <ion-list id="inbox-list">
        <ion-list-header>
          <ion-label class="ion-text-center" color="light">Cart </ion-label>

        </ion-list-header>
      </ion-list>
      <ion-content>
       <div class="error" *ngIf="this.service.cartchange || this.userService.cartfirstcheck" >
        <ion-spinner color="secondary" name="crescent"></ion-spinner>
       </div>
        <div class="error" *ngIf="isEmpty">
          <h1>Cart is empty</h1>
        </div>
        <div class="cart_section"  *ngIf="!isEmpty">
          <div *ngFor="let product of cart" class="my_card">
            <div class="img" (click)="openEnd()" routerDirection="root"
            [routerLink]="['/products/'+product.product.id]" lines="none" detail="false" routerLinkActive="selected">
              <ion-img class="img_img" [src]="product.product.image"> </ion-img>
            </div>
            <div class="content">
              <div class="title" (click)="openEnd()" routerDirection="root"
              [routerLink]="['/products/'+product.product.id]" lines="none" detail="false" routerLinkActive="selected">{{product.product.title}}</div>
              <div class="tags">
                <p class="price" (click)="openEnd()" routerDirection="root"
                [routerLink]="['/products/'+product.product.id]" lines="none" detail="false" routerLinkActive="selected">€ {{product.product.price}} x {{product.quantity}} = € {{product.tot}} </p>
              </div>
              <div class="tags-btn">
        <div class="tag-btn1">
          <ion-button (click)="DecreaseQuantity(product.product.id)" class="cart-btn" color="warning">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="tag-btn2">
          <ion-button (click)="RemoveFromCart(product.product.id)" class="cart-btn" color="danger">
            <ion-icon name="close-circle-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="tag-btn3">
          <ion-button (click)="IncreaseQuantity(product.product.id)" class="cart-btn" color="success">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
            </div>
            
          </div>
          <div class="total_section">
          <ion-button (click)="PlaceOrder()" color="warning" class="total">
            <ion-icon name="logo-paypal"></ion-icon>
            <p class="make_order">Make Order of <span class="make_order_bold">{{total}} €</span> </p>
          </ion-button>
        </div>
        </div>

        

      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
