<ion-content class="background" [fullscreen]="true">
  <div class="main">
    <ion-slides>
      <ion-slide>
        <img src="../../../../assets/slide-1.png" />
        <h2>Welcome to DRGStore!</h2>
        <p>
          DRGSTORE is a fake store built by De Caro Guglielmo with a custom Api.
          Navigate between the products in the home page

        </p>
      </ion-slide>

      <ion-slide>
        <img src="../../../../assets/slide-2.png" />
        <h2>Menu'</h2>
        <p>
          Use the menu to navigate between pages and products filtered by producer and category.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="../../../../assets/slide-3.png" />
        <h2>Item in detail</h2>
        <p>
          Click on a product to open a detail page.
          Here you can see all the specific of the product.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="../../../../assets/slide-4.png" />
        <h2>Review a product</h2>
        <p>
          You can review a product and change the total score.
          Also the review are permanently!
        </p>
      </ion-slide>

      <ion-slide>
        <img src="../../../../assets/logo.png" />
        <h2>Ready to Buy?</h2>
        <ion-button (click)="setValue()" fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>
